{{ 'hero-section.css' | asset_url | stylesheet_tag }}
<script src='{{ 'hero-section.js' | asset_url }}' defer></script>

{% liquid
  assign id = section.id
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top = section.settings.padding_top
  assign wrapper = 'hero-section-outer-wrapper-' | append: id
%}

<style>
  .{{wrapper}} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
</style>
<div class='{{wrapper}} hero-section-outer-wrapper'>
  <div class='product-vendor'>
    {{ all_products['womens-casual-jacket'].vendor }}
  </div>
  <div class='follower'></div>
  <div class='hero-section-wrapper'>
    <h1
      class='split-animation'
      data-revealgap='{{section.settings.animation_reveal}}'
      data-text='{{section.settings.heading |  strip_html}}'></h1>

    <div class='buttons--container '>
      {% if section.settings.button_1_url and section.settings.button_1_label %}
        <a
          href='{{section.settings.button_1_url}}'
          class='
            gradient-button opacity-animation {% if section.settings.highlight_button_1 %}
              highlight-button glowing-button
            {% endif %}
          '>
          {{- section.settings.button_1_label -}}
        </a>
      {% endif %}
      {% if section.settings.button_2_url and section.settings.button_2_label %}
        <a
          href='{{section.settings.button_2_url}}'
          class='
            gradient-button opacity-animation {% if section.settings.highlight_button_2 %}
              highlight-button glowing-button
            {% endif %}
          '>
          {{- section.settings.button_2_label -}}
        </a>
      {% endif %}
      {% if section.settings.button_3_url and section.settings.button_3_label %}
        <a
          href='{{section.settings.button_3_url}}'
          class='
            gradient-button  opacity-animation highlight-button glowing-button {% if section.settings.highlight_button_3 %}
              highlight-button glowing-button
            {% endif %}
          '>
          {{- section.settings.button_3_label -}}
        </a>
      {% endif %}

      <div class='blocks'>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'link-name' %}
              <div>
                {{ block.settings.link_name }}
              </div>
            {% else %}

            {% when 'link-block' %}
              <div>
                {{ block.settings.link_block_heading }}
              </div>
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero section",
  "class": "hero-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Animation settings"
    },
    {
      "type": "select",
      "id": "animation_reveal",
      "label": "Animation reveal",
      "options": [
        { "value": "0.06", "label": "Slow" },
        { "value": "0.03", "label": "Normal" },
        { "value": "0.01", "label": "Fast" }
      ],
      "default": "0.03"
    },
    {
      "type": "header",
      "content": "Button settings",
      "info": "Recommended to Highlight only one button"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "text",
      "id": "button_1_label",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "button_1_url",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "highlight_button_1",
      "label": "Highlight"
    },

    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "text",
      "id": "button_2_label",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "button_2_url",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "highlight_button_2",
      "label": "Highlight"
    },
    {
      "type": "header",
      "content": "Button 3"
    },
    {
      "type": "text",
      "id": "button_3_label",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "button_3_url",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "highlight_button_3",
      "label": "Highlight"
    },

    {
      "type": "header",
      "content": "Padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "link-name",
      "name": "Link Name",
      "settings": [
        { "type": "text", "label": "Name", "id": "link_name" },
        { "type": "text", "id": "ref", "label": "reference" }
      ]
    },
    {
      "type": "link-block",
      "name": "Link Block",
      "settings": [
        { "type": "text", "label": "Name", "id": "link_block_heading" },
        { "type": "text", "id": "block_ref", "label": "reference" }
      ]
    }
  ],
  "presets": [{ "name": "Hero section" }]
}
{% endschema %}
